
article header a {
  	  color: black;
	    text-decoration: none;
    }
    
body > header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
}

body > header a {
	color: black;
	text-decoration: none;
}

header nav a {
	margin-left: 1.5rem;
}

header nav a:hover {
	color: purple
}


header .brand:hover {
	text-decoration: none;
}

header nav a {
	font-weight: 600;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 1rem;
}

body {
	font-family: 'Inter', sans-serif;
}

.page a {
	color: black;
}


.page p {
	margin-bottom: 1.45rem;
}
  

article header h2 a:hover {
	color: purple;
}

article header h2 {
	margin: 0;
	padding: 0;
        text-align: left;
}

.page li {
	  margin-bottom: 0.6rem;
  }

